body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",'Segoe UI',sans-serif !important;
  font-weight: 300 !important;
}
html{
  background: #f0f2f5;
}
input, .ant-table, .ant-calendar-picker-container, .ant-input{
  font-weight: 300 !important;
  font-family: "Helvetica Neue",'Segoe UI', sans-serif !important;
}

#root ,.ant-layout{
  height: 100%;
}
:focus {
  outline: none !important;
}